## Makeup Exam Answers

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np
import sqlite3
from sqlite3 import Error

## Question A

In [7]:
def question_a(size, left, right, distribution='uniform'):
    """
    Return array of random numbers
    This function takes in a size, and upper and lower limit,
    and generates an array of random numbers following a uniform or normal
    distribution.
    
    Args:
        size : integer
            Number of elements in returned array
        left : float
            Lowest number in range of numbers (inclusive)
        right : float
            Highest number in range of numbers (exclusive)
        distribution : string
            Options are 'uniform', 'normal'
    Returns:
        1D Numpy array: float
    Exceptions:
        Raises ValueError when wrong arguments
    
    """
    if size < 0:
        raise ValueError("size must be greater than zero")
    
    if distribution == 'normal':
        m = (left+right)/2
        random_array = np.random.normal(m, 1.0, size)
    else:
        random_array = np.random.uniform(left, right, size)
    
    return random_array

## Question B

In [2]:
def question_b():
    """
    Create an SQLite database in a file exam.db
    This function creates an squlite database with a table named 'random_numbers'
    
    Args:
        None
    Returns:
        None
    Exceptions:
        Raises SQLite Error when wrong arguments
    
    """
    db_file = "exam.db"
    random_numbers_table_sql = """CREATE TABLE IF NOT EXISTS random_numbers (
                                    id integer PRIMARY KEY,
                                    uniform real NOT NULL,
                                    normal real NOT NULL
                                );"""
    
    # create database 
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    
    if conn is not None:
        # create random_numbers table
        create_table(conn, random_numbers_table_sql)
    else:
        print("Error! cannot create the database connection.")

## Question C

In [6]:
def question_c():
    """
    Insert 1000 entries of random numbers generated into the random_numbers table.
    
    Args:
        None
    Returns:
        None
    Exceptions:
        Raises ValueError when wrong arguments
    
    """
    
    #ingest values from generator function in question a
    uniform_vals=question_a(-100, 100, 1000, 'uniform')
    normal_vals=question_a(-100, 100, 1000, 'normal')
    
    #insert into database
    db_file="exam.db"
    insert_sql = ''' INSERT INTO random_numbers(id,uniform,normal)
              VALUES(?,?,?) '''
    
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    cur = conn.cursor()
    cur.execute(sql, random_numbers)
    conn.commit()

## Question D

In [4]:
def question_d():
    """
    Select and return entries from the random_numbers table as a pandas dataframe.
    
    Args:
        id_start : int
            Lowest number in range of numbers (inclusive)
        id_stop : int
            Highest number in range of numbers (exclusive)
    Returns:
        Pandas Data Frame: float
    Exceptions:
        None
    
    """
    db_file="exam.db"
    insert_sql = ''' INSERT INTO random_numbers(id,uniform,normal)
              VALUES(?,?,?) '''
    
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    cur = conn.cursor()
    cur.execute("SELECT * FROM tasks")
    rows = cur.fetchall()

## Question E